{% extends "!layout.html" %}

{% block doctype %}<!doctype html>{% endblock %}

{% block extrahead %}<link rel="stylesheet" href="{{ pathto('_static/css/xivo.css', 1) }}" type="text/css" />{% endblock %}

{% block relbar1 %}{{ super() }}{% endblock %}
{% block rootrellink %}{{ super() }}{% endblock %}
{% block relbaritems %}{{ super() }}{% endblock %}

{% block sidebar2 %}{{ sidebar() }}{% endblock %}

{% block sidebarsearch %}{{ super() }}{% endblock %}

{% block relbar2 %}{% endblock %}

{% block footer %}
<div class="footer">
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
    </a>
    <br />
    This work is licensed under a
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons Attribution-ShareAlike 4.0 Unported License
    </a>.
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '', 'auto');
  ga('send', 'pageview');

</script>
{{ super() }}
{% endblock %}
